body {
  /* standaardkleuren */
  --color-text: #cbc6b9;
  --color-background: #050100;
  --color-background-secondair: #1E1E1E;
  --color-title:white;

  /* kleuren van de catogorien */
  --color-publication: #d55e00;
  --color-person: #56b4e9;
  --color-collective: #009e73;
  --color-organisation: #f0e442;
  --color-event: #e69f00;
  --color-serie: #cc79a7;
  --color-year: #56e04e;
}

/* check if it supports @media? */
@media (prefers-color-scheme: light) {
body {
  /* standaardkleuren */
  --color-text: #050100;
  --color-background: white;
  --color-background-secondair: #e1e1e1;
  --color-title:black;

    /* kleuren van de catogorien - kleurenblind-proof*/
    --color-publication: #d55e00;
    --color-person: #56b4e9;
    --color-collective: #009e73;
    --color-organisation: #f0e442;
    --color-event: #e69f00;
    --color-serie: #cc79a7;
    --color-year: #56e04e;
  }
}

.publication {
  background-color: var(--color-publication);
}
.person {
  background-color: var(--color-person);
}
.collective {
  background-color: var(--color-collective);
}
.organisation, .object, .report, .article {
  background-color: var(--color-organisation);
}
.event {
  background-color: var(--color-event);
}
.serie {
  background-color: var(--color-serie);
}
.year {
  background-color: var(--color-year);
}
