body {
  /* standaardkleuren */
  --color-text: #CBC6B9;
  --color-background: #050100;
  --color-background-secondair: #1E1E1E;

  /* kleuren van de catogorien */
  --color-publication: #C6A1CE;
  --color-person: #AAF7B3;
  --color-collective: #8AC1A0;
  --color-organisation: #EFEDBD;
  --color-event: #FFC09A;
  --color-serie: #D67FA7;
  --color-year: #8AB2D1;
}

.publication {
  background-color: var(--color-publication);
}

.person {
  background-color: var(--color-person);
}

.collective {
  background-color: var(--color-collective);
}

.organisation {
  background-color: var(--color-organisation);
}

.event {
  background-color: var(--color-event);
}

.serie {
  background-color: var(--color-serie);
}

.year {
  background-color: var(--color-year);
}