/* global styles */
@import "reset.css";
@import "typography.css";
@import "colors.css";

/*.layout and view styling */
@import "../server/layouts/base.css";
@import "../server/views/index.css";
@import "../server/views/detail.css";

/* component styling */
@import "../server/components/detail-object/detail-object.css";
@import "../server/components/relation/relation.css";
@import "../server/components/rel-tag/rel-tag.css";

body {
  color: var(--color-background);
  margin: 0 auto;
}

main {
  padding: 1rem;
}
