/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

/* component styling */
@import '../server/components/card/card.css';

:root{
/* standaardkleuren */
  --color-text: #231f20;
  --color-background: #FFFFFF;

  /* kleuren van de huisstijl, gebruik er 1 per keer */
  --color-accent1: #51C0E9;
  --color-accent2: #F7C3E5;
  --color-accent3: #BEC4E8;
  --color-accent4: #EEDE52;
  --color-accent5: #C7C1AC;
}

body {
  color: black;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}