@font-face {
  font-family: favorit;
  src: url(../public/assets/FONT/Favorit_Regular.otf);
}
@font-face {
  font-family: favorit-light;
  src: url(../public/assets/FONT/Favorit_Light.otf);
}
@font-face {
  font-family: favorit-bold;
  src: url(../public/assets/FONT/Favorit_Bold.otf);
}

@font-face{
  font-family: favorit-italic;
  src: url(../public/assets/FONT/Favorit\ Light\ Italic.ttf);
}

body {
  font-family: favorit;
}

p{
  font-family: favorit-light;
}

