@font-face {
  font-family: favorit;
  src: url(../public/assets/FONT/Favorit_Regular.otf);
}
@font-face {
  font-family: favorit;
  src: url(../public/assets/FONT/Favorit_Light.otf);
  weight:light;
}
@font-face {
  font-family: favorit;
  src: url(../public/assets/FONT/Favorit_Bold.otf);
  weight:bold;
}

/* @font-face{
  font-family: favorit ;
  src: url(../public/assets/FONT/Favorit\ Light\ Italic.ttf);
  weight:light;
  font-style: italic;
} */

body {
  font-family: favorit;
  font-weight: 400;
}

.h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}
