<section class="relation">
    <h2 class="event">Exhibition: Homies</h2>
    <p>On 21 February 2024, Framer Framed hosts the launch of the new issue of Kunstlicht magazine, 
    Between The Standing and The Inclined: Structures Supporting Change.</p>
{% comment %} <img src="" alt=""> {% endcomment %}
    <div id="img"></div>
    <ul class="relation-relation">
        <li><p class="person rel">Manuela Zammit</p></li>
        <li><p class="organisation rel">tesst</p></li>
    </ul>
    <div class="hapje">
        <time class="year rel" datetime="17-05-2024">17-05-2024</time>
    </div>
</section>

