.relation {
    background-color: var(--color-background-secondair);
    color: var(--color-text);
    position: relative;

    display: grid;
    gap: .5rem;

    padding: .5rem;
    border-radius: 8px;

    height: fit-content;

    grid-template-areas:
    "title title title"
    "image alinea alinea"
    "rels rels year";
    grid-template-columns: 1fr 3fr auto;

    p {
        grid-area: alinea;
    }

    .rel {
        color: black;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        padding: 8px;
        padding-inline: 12px;
        text-decoration: none;
    }

    /* deze zijn voor de titel */
    .title {
        grid-area: title;
        font-weight: bold;

        max-width: 15rem;

        /* zorgen dat de hele kaart klikbaar is */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* background-color: rgba(255, 105, 180, 0.323); */

            z-index: 0;
            cursor: pointer;
        }
    }

    .relation-relation {
        width: 100%;
        height: 100%;

        gap: .5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .skiplink {
        grid-area: rels;

        color: black;
        /* width: fit-content; */
        /* max-width: 15rem; */

        overflow: auto;

        z-index: 2;

        summary {
            background-color: rgb(199, 199, 199);
            border-radius: 5px;
            padding: .5rem;
            margin-bottom: .5rem;

            font-family: favorit-light, Arial, sans-serif;
            cursor: pointer;


            /* width: max-content;
            max-width: 15rem; */

            list-style-type: none;
            /* ik weet niet of het handig is om te werken met fonts minder dan 1 rem aangezien we met slechtziende werken... */
            /* font-size: .7rem; */
            /* padding: .2rem; */
        }
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    /* animatie foldout relaties */
    details {
        overflow: hidden;
    }

    details::details-content {
        block-size: 0;

        transition: block-size .5s, content-visibility .5s;
        transition-behavior: allow-discrete;
    }

    details[open]::details-content {
        block-size: auto;
    }

    details[open] summary {
        background-color: gray;
        z-index: 2;
    }

    /* Dit is hoe je de afgeronde hoekjes maakt */
    .hapje {
        position: relative;
        right: -.5rem;
        bottom: -.5rem;
        place-self: end;
        grid-area: year;
        background-color: var(--color-background);
        outline: var(--color-background) .5rem solid;
        border-radius: .5rem 0 0 0;
        width: max-content;

        display: flex;
        justify-content: flex-end;

        :before {
            position: absolute;
            content: "";
            display: inline-block;
            top: 1rem;
            left: -1.5rem;
            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

        :after {
            position: absolute;
            content: "";
            display: inline-block;
            top: -1.5rem;
            right: 0rem;

            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

    }
}