.relation {
    background-color: #1E1E1E;
    color: #CBC6B9;

    display: grid;
    gap: .5rem;

    padding: .5rem;
    border-radius: 8px;

    height: fit-content;

    grid-template:
        [image-top] "image x title" auto [title] [image-bottom] "image alinea alinea" 1fr [alinea] [rels-left] "rels rels year" auto [rels-right] / 1fr 3fr auto;

    p {
        grid-area: alinea;
        /* margin: .5rem; */
    }

    #img {
        background-color: rgb(124, 131, 181);
        border-radius: 8px;
        /* min-width: 128px;
        min-height: 128px;
        height: 100%; */
        /* width: 100%; */
        aspect-ratio: 1;

        grid-area: image;


        border: 0;
        /* margin: .5rem; */
        position: relative;
        left: -3rem;
    }

    h2,
    .event {
        grid-area: title;
    }

    h2,
    .event,
    .rel {
        color: black;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        padding: 8px;
        padding-inline: 12px;
        text-decoration: none;
    }

    .event::before {
        content: "";
        position: relative;
        width: 20rem;
        height: 20rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hotpink;
    }



    .relation-relation {
        grid-area: rels;
        width: 100%;
        display: flex;

        gap: .5rem;
    }

    /* dit is het begin van de afgeronde hoekjes- werkt nog niet */
    .hapje {
        position: relative;
        right: -.5rem;
        bottom: -.5rem;
        place-self: end;
        grid-area: year;
        background-color: var(--color-background);
        outline: var(--color-background) .5rem solid;
        border-radius: .5rem 0 0 0;
        width: max-content;

        display: flex;
        justify-content: flex-end;

        :before {
            position: absolute;
            content: "";
            display: inline-block;
            top: 1rem;
            left: -1.5rem;
            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

        :after {
            position: absolute;
            content: "";
            display: inline-block;
            top: -1.5rem;
            right: 0rem;
            /* left: -1.5rem; */
            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

    }

    .publication {
        background-color: #C6A1CE;
    }

    .person {
        background-color: #AAF7B3;
    }

    .collective {
        background-color: #8AC1A0;
    }

    .organisation {
        background-color: #EFEDBD;
    }

    .event {
        background-color: #FFC09A;
    }

    .serie {
        background-color: #D67FA7;
    }

    .year {
        background-color: #8AB2D1;
    }

    ;
}

;