.relation {
    background-color: #1E1E1E;
    color: #CBC6B9;
    position: relative;

    display: grid;
    gap: .5rem;

    padding: .5rem;
    border-radius: 8px;

    height: fit-content;

    grid-template:
        [image-top] "image x title" auto [title] [image-bottom] "image alinea alinea" 1fr [alinea] [rels-left] "rels rels year" auto [rels-right] / 1fr 3fr auto;

    p {
        grid-area: alinea;
    }

    #img {
        background-color: rgb(124, 131, 181);
        border-radius: 8px;

        aspect-ratio: 1;

        grid-area: image;


        border: 0;

        position: relative;
        left: -3rem;
    }

    h2,
    .event {
        grid-area: title;
    }

    h2,
    .event,
    .rel {
        color: black;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        padding: 8px;
        padding-inline: 12px;
        text-decoration: none;
    }

    /* zorgen dat de hele kaart klikbaar is */
    /* .event::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    } */

    /* details{
        grid-area: rels;

        &:open summary ul{
            background-color: aquamarine;
            height: 100%;
            overflow: auto;
        }
    } */

    .relation-relation {
        width: 100%;
        height: 100%;

        gap: .5rem;
        /* background-color: hotpink; */
        display: flex;
        flex-wrap: wrap;
        /* position: relative;
        top: 2rem; */
        /* &[open]{
            background-color: gray;
        } */
    }

    .skiplink {
        grid-area: rels;

        color: black;
        width: fit-content;

        summary {
            background-color: rgb(199, 199, 199);
            border-radius: 8px;
            padding: .5rem;
            margin-bottom: .5rem;
            width: fit-content;

            list-style-type:  none;
        }
    }

    details[open] summary {
        background-color: gray;
    }



    /* Dit is hoe je de afgeronde hoekjes maakt */
    .hapje {
        position: relative;
        right: -.5rem;
        bottom: -.5rem;
        place-self: end;
        grid-area: year;
        background-color: var(--color-background);
        outline: var(--color-background) .5rem solid;
        border-radius: .5rem 0 0 0;
        width: max-content;

        display: flex;
        justify-content: flex-end;

        :before {
            position: absolute;
            content: "";
            display: inline-block;
            top: 1rem;
            left: -1.5rem;
            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

        :after {
            position: absolute;
            content: "";
            display: inline-block;
            top: -1.5rem;
            right: 0rem;

            width: 1rem;
            height: 1rem;
            border-bottom-right-radius: 2rem;
            box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
            background: transparent;
        }

    }

    .publication {
        background-color: #C6A1CE;
    }

    .person {
        background-color: #AAF7B3;
    }

    .collective {
        background-color: #8AC1A0;
    }

    .organisation {
        background-color: #EFEDBD;
    }

    .event, .object {
        background-color: #FFC09A;
    }

    .serie {
        background-color: #D67FA7;
    }

    .year {
        background-color: #8AB2D1;
    }

}