.publication,
.person,
.collective,
.organisation,
.event,
.serie,
.year {
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    border-radius: 5px;
}

.publication {
    background-color: #C6A1CE;
}

.person {
    background-color: #AAF7B3;
}

.collective {
    background-color: #8AC1A0;
}

.organisation {
    background-color: #EFEDBD;
}

.event {
    background-color: #FFC09A;
}

.serie {
    background-color: #D67FA7;
}

.year {
    background-color: #8AB2D1;
}


.object {
    display: flex;
    padding: 1rem 5rem 1rem 1rem;

    img{
        width: 100%;
        height: auto;
    }
}

/* .object-background {
    position: absolute;
    background-color: #1A1A1A;
    width: 70%;
    height: 95%;
    border-radius: 5px;

    
} */

.object-container {
    background-color: #1A1A1A;
    border-radius: 5px;

    padding: 0rem 0rem 2rem 0rem;
    width: 100%;

    position: relative;
    align-self: flex-end;

    time {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    

    h1 {
        justify-self: flex-end;
        font-size: 1.2rem;
        font-weight: lighter;
    }

    ul {
        position: relative;
        top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 50%;
        flex-wrap: wrap;

        gap: .2rem;
        height: fit-content;

        justify-content: center;

        li {
            display: flex;
            gap: .2rem;
            flex-wrap: wrap;
        }
    }
}

.object-content {
    margin: 1rem 0 0 0;

    position: relative;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;

    color: white;

    padding: 1rem;
}