p,
h1,
time {
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    border-radius: 5px;
}

.publication {
    background-color: #C6A1CE;
}

.person {
    background-color: #AAF7B3;
}

.collective {
    background-color: #8AC1A0;
}

.organisation {
    background-color: #EFEDBD;
}

.event {
    background-color: #FFC09A;
}

.serie {
    background-color: #D67FA7;
}

.year {
    background-color: #8AB2D1;
}

.object {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 5rem 1rem 1rem;
}

.object-background {
    position: absolute;
    background-color: #1A1A1A;
    width: 70%;
    height: 95%;
    border-radius: 5px;

    time {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.object-container {
    padding: 0rem 0rem 0rem 1rem;
    width: 100%;

    position: relative;
    align-self: flex-end;

    h1 {

        justify-self: flex-end;

        font-size: 1.2rem;
        font-weight: lighter;
        box-shadow: -3px 3px 0px 3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -3px 3px 0px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 0px 3px rgba(0, 0, 0, 0.75);
    }

    ul {
        position: relative;
        left: 5rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .2rem;
        height: fit-content;

        li {
            display: flex;
            gap: .2rem;
            flex-wrap: wrap;
        }
    }
}

.object-content {
    margin: 1rem 0 0 0;

    position: relative;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    max-width: 100%;

    img {
        flex-grow: 1;
        border-radius: 5px;
        margin: 0 1rem 0 0;
    }

    p {
        flex-grow: 2;
        text-align: left;
        color: white;
    }
}