<section class="object">
        <div class="object-background">
            <time datetime="17-05-2024" class="year">17-05-2024</time>
        </div>
        <div class="object-container">
            <h1 class="event">Workshop: Archiving Personal Queer Stories</h1>
            <ul>
                <li>
                    <p class="person">Manuela Zammit</p>
                </li>
                <li>
                    <p class="person">Manuela Zammit</p>
                </li>
            </ul>
            <div class="object-content">
                <img src="https://content.api.news/v3/images/bin/3c1d80ffbcaf508f8d2dd65e99d37e12" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi alias quisquam repudiandae nostrum,
                    cum
                    repellendus reiciendis officiis dolorum omnis mollitia reprehenderit harum, doloribus incidunt
                    maiores voluptatum consequatur? Consequatur, numquam sed!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat nobis itaque saepe optio
                    rerum ad inventore alias cum iure nesciunt, dolores ratione consequuntur voluptatem?
                    Exercitationem corrupti similique inventore sunt sit.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quas, nemo reprehenderit ex odit
                    fuga aliquid. Aliquam eum perferendis veniam optio est necessitatibus error in, exercitationem
                    quidem dolore sunt laudantium!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam corrupti ratione itaque voluptas
                    consequuntur accusantium in saepe ab nostrum sed? Doloribus repudiandae dolore illo dolor sint
                    itaque rem quas nemo.
                </p>
            </div>
        </div>
    </section>