.publication {
    background-color: #C6A1CE;
}

.person {
    background-color: #AAF7B3;
}

.collective {
    background-color: #8AC1A0;
}

.organisation {
    background-color: #EFEDBD;
}

.event {
    background-color: #FFC09A;
}

.serie {
    background-color: #D67FA7;
}

.year {
    background-color: #8AB2D1;
}

.object {

    .publication,
    .person,
    .collective,
    .organisation,
    .event,
    .serie,
    .year {
        padding: 0.5rem;
        text-align: center;
        text-transform: capitalize;
        width: fit-content;
        border-radius: 5px;
    }

    .object-container {
        background-color: rebeccapurple;
        border-radius: 5px;

        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr auto auto;
        grid-template-areas:
            "empty title"
            "rels rels"
            "img text"
            "date date";

        .event {
            grid-area: title;
        }

        .year {
            grid-area: date;
        }

        ul {
            grid-area: rels;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: left;
        }

        .object-content {
            grid-area: text;
        }

        img{
            width: fit-content;
            height: auto;
        }
    }
}