{% layout "server/layouts/base.liquid" %}

{% block content %}

{% render 'server/components/detailObject/detailObject.liquid', event: event, relations: relations %}
<section></section>


<p><strong>Start:</strong> {{ event.date_start }}</p>
<p><strong>Einde:</strong> {{ event.date_end }}</p>

{% endblock %}