.detail-container {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-template-rows: 90dvh;
  grid-template-areas: "detail" "relations";
  gap: 2rem;

  /* tijdelijk tot er een beter oplossing gevonden kan worden met grid */
  margin-inline:clamp(1rem, -9rem + 22.8571vw, 4rem);;

  .relaties-container {
    display: block;
  h2 {
    color: var(--color-text);
  }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      /* height: 85.7vh; */
      max-height: 90dvh;
      overflow-y: scroll;

      scrollbar-width: thin;
      scrollbar-color: #F9F6EE black;
    }
  }
}

/* als er geen relaties zijn, zet de main details in het midden neer */
.detail-container:not(:has(.relaties-container ul)) {
  max-width: 60%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.6fr;
  gap: 4rem;
}


@media (max-width: 700px) {
  .detail-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70dvh auto;
  }
}