{% layout "server/layouts/base.liquid" %}
{% assign test = false %}

{% block content %}
<div class="detail-container">
  {% render 'server/components/detail-object/detail-object.liquid', event: event, relations: relations, assets: assets %}
  <div class="relaties-container">
    {% for rel in relations %}
      {% if rel.node.content_nl != null and rel.node.content_nl != "" or if rel.node.content_en != null and rel.node.content_en != "" %}
        {% assign test = true %}
      {% endif %}
    {% endfor %}
    {% if test == true %}
      <h2>relaties:</h2>
        <ul>
        {% for rel in relations %}
            {% render 'server/components/relation/relation.liquid', rel: rel %}
        {% endfor %}
        </ul>
      </div>
    {% endif %}
</div>

{% endblock %}