{% layout "server/layouts/base.liquid" %}

{% block content %}
{% for item in items %}
    <li>
      <a href="/plant/{{ item.id }}">
        {% render 'server/components/card/card.liquid', item: item %}
      </a>
    </li>
  {% endfor %}

{% endblock %}
