.detail-container {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 2rem;
}

.relaties-container{

  h2 {
  color: var(--color-text);
  font-size: 3rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 85.7vh;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #F9F6EE black;
  }
}
