{% layout "server/layouts/base.liquid" %}

{% block content %}
{% comment %} wat als er geen engelse titel beschikbaar is? {% endcomment %}
 {% comment %} wat als je meer paginas van evenementen wilt? {% endcomment %}
 <h1 class="h1"> Events in {{year}}</h1>
 <ul>
  {% for e in event %}
    <li><a href="/event/{{ e.node.uuid }}">{{ e.node.title_nl }}</a></li>
  {% endfor %}
 </ul>

{% endblock %}
