{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>
<form action="/popout-year" method="post">
<ul class="grid">
  {% for item in years %}
    {% comment %} button, als je er op klikt word er in de backend een fetch uitgevoerd voor de nieuwe informatie en die toegevoegd in een section{% endcomment %}
     <button name="year-{{item.year}}">{{item.year}}</button>
     <p>{{eventTitle[0].node.title_en}}</p>
  {% endfor %} 
</ul>
</form>
{% endblock %}
