{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="eventlist">
    <div>
        <h1>{{ title }}</h1>
        <ul>
            {% for item in organisations %}
            <li class="search-result">
                <a href="/organisation/{{ item.organisation.uuid }}">
                    {{ item.organisation.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}