{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1>{{ title }}</h1>
<ul>
    {% for item in persons %}
    {% if item.person %}
    <li><a href="/person/{{ item.person.uuid }}">{{ item.person.name }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}