{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="eventlist">
    <div>
        <h1>{{ title }}</h1>
        <ul>
            {% for item in persons %}
            {% if item.person and item.person.uuid and item.person.name %}
            <li class="search-result">
                <a href="/person/{{ item.person.uuid }}">{{ item.person.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}