{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="eventList">
    <div>
        <h1>{{ title }}</h1>
        <ul>
            {% for item in publications %}
            <li class="search-result">
                <a href="/event/{{ item.publication.uuid }}">
                    {{ item.publication.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}