{% layout "server/layouts/base.liquid" %}
{% block content %}
<div>
    <ul class="grid">
        {% for item in years %}
        <a href="/year/{{ item.year }}">{{ item.year }}</a>
        {% endfor %}
    </ul>

</div>
{% endblock %}