.footer {
  section:first-of-type {
    margin: 0.5em;
  }

  background-color: var(--color-text);
  color: var(--color-background);
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  padding-block: 1em;
  line-height: 2.5ch;

  a {
    color: var(--color-background);
    text-decoration: none;
    fill: var(--color-background);

    &:has(svg:hover) {
      fill: var(--color-title);
      outline: none;
      box-shadow: none;
    }
  }

  .static {
    border-inline: 5px solid var(--color-background);
    padding-inline: 0.5rem;

    a:hover {
      text-decoration: underline;
      outline: none;
      box-shadow: none;
    }
  }

  .social-media {
    ul {
      display: flex;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 45rem) {
  .footer {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0.5em;

    .static {
      border-block: 5px solid var(--color-background);
      border-inline: none;
      padding-inline: 0;
      padding-block: 0.5rem;
    }
  }
}
