.search-result {
    background-color: var(--color-background-secondair);
    color: var(--color-text);

    border-radius: 8px;

    display: grid;
    grid-template: [type]"type type" auto[type] [title] "title date" auto [date] / 1fr auto;

    margin-block: .5rem;
    height: fit-content;

    a {
        grid-area: title;
        text-decoration: none;
        margin-right: .5rem;
        /* font-family: favorit-bold; */
        font-size: 1.5em;
        color: var(--color-text);

        padding: .5rem;
    }

    div {
        border-radius: 8px 8px 0 0;

        display: flex;
        place-content: space-between;
    }

    p,
    time {
        color: black;
        font-weight: lighter;

        padding: .2rem;
        padding-inline: .5rem;

    }

    /* is het verwarrend dat de kleuren switchen van betekenis? */
    .Exhibition,
    .Launch {
        background-color: var(--color-publication);
    }

    .Review,
    .News,
    .Report {
        background-color: var(--color-person);
    }

    .Debate,
    .Talk,
    .Article,
    .Interview {
        background-color: var(--color-collective);
    }

    .Symposium,
    .Program {
        background-color: var(--color-organisation);
    }

    .Public,
    .Educational {
        background-color: var(--color-event);
    }

    .Performance,
    .Film,
    .Video,
    .Podcast {
        background-color: var(--color-serie);
    }
}