<li class="search-result">
    <a href="/event/{{ e.node.uuid }}" class="h2">{{ title }}</a>
     <p class="{{ e.node.type_en}}">{{e.node.type_nl}}</p>
     {% comment %} datum toevoegen (voor logica) {% endcomment %}
</li>