<div class="legenda">
    <p class="person">person</p>
    <p class="collective">collective</p>
    <p class="organisation">organisation</p>
    <p class="event">event</p>
    <p class="serie">serie</p>
    <p class="year">year</p>
</div>