{% comment %} optie 2, popover {% endcomment %}
<button popovertarget="my-popover" class="button-legenda"> Legenda</button>

<div popover id="my-popover" class="legenda">
    <p class="publication">publication</p>
    <p class="person">person</p>
    <p class="collective">collective</p>
    <p class="organisation">organisation</p>
    <p class="event">event</p>
    <p class="serie">serie</p>
    <p class="year">year</p>
</div>