.publication {
  background-color: #c6a1ce;
}

.person {
  background-color: #aaf7b3;
}

.collective {
  background-color: #8ac1a0;
}

.organisation {
  background-color: #efedbd;
}

.event {
  background-color: #ffc09a;
}

.serie {
  background-color: #d67fa7;
}

.year {
  background-color: #8ab2d1;
}

.object {
  .object-container {
    padding: 0.5rem;
    background-color: #1e1e1e;
    border-radius: 8px;

    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "title title"
      "rels rels"
      "img text"
      "date date";

    > .event {
      grid-area: title;
      justify-self: end;
    }

    .time-content {
      grid-area: date;
      padding: 0.5rem;
    }

    ul {
      grid-area: rels;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: left;
    }

    .object-content {
      grid-area: text;
      color: #cbc6b9;
      height: 75vh;
      overflow-y: scroll;
    }

    img {
      grid-area: img;
      width: 100%;
      height: auto;
    }

    iframe {
      width: 100%;
      height: auto;
    }
  }
}
