.detail-object {
    --color-background: black;
    height: calc(82dvh - .5rem);

    .object-container {
        padding: .5rem;
        background-color: var(--color-background-secondair);
        border-radius: 8px;
        height: 100%;

        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: min-content min-content auto min-content;
        grid-template-areas:
            "title title"
            "rels rels"
            "img text"
            "date date";

        .title {
            grid-area: title;
            height: fit-content;

            color: var(--color-title);
            font-size: 2em;
        }

        .time-content {
            grid-area: date;


            .rel {
                color: black;
                width: fit-content;
                height: fit-content;
                border-radius: 8px;
                padding: 8px;
                padding-inline: 12px;
                text-decoration: none;
                color: black;
                width: fit-content;
                height: fit-content;
                border-radius: 8px;
                padding: 8px;
                padding-inline: 12px;
                text-decoration: none;
            }
        }

        ul {
            grid-area: rels;
            max-height: 3.8rem;
            overflow-y: auto;

            scrollbar-color: var(--color-title) var(--color-background-secondair);
            scrollbar-width: thin;

            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.2rem;
        }


        .object-content {
            grid-area: text;
        }

        .scroll-root {
            --space: 1lh;
            --_theme: light-dark(hsl(none none 40%), hsl(none none 80%));
            anchor-name: --scroll-root;
            border-radius: 10px;
            border: 1px solid var(--_theme);
            padding-inline-end: var(--space);

            >.scroll-viewport {
                container: --scrollport / size scroll-state;
                anchor-name: --scroll-viewport;
                height: 100%;
                overflow: hidden auto;
                overscroll-behavior-y: contain;

                @media (prefers-reduced-motion: no-preference) {
                    scroll-behavior: smooth;
                }

                &:is(:focus-visible, :focus-within) {
                    outline-offset: -2px;
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: color-mix(in srgb, var(--_theme), #0000 80%);
                    border-radius: 1e3px;
                    background-clip: padding-box;
                    margin-block: 1lh;
                }

                &::-webkit-scrollbar-thumb {
                    background: color-mix(in srgb, var(--_theme), #0000 25%);
                    border-radius: 1e3px;
                }

                &:is(:focus-visible, :focus-within)::-webkit-scrollbar-thumb {
                    background: var(--_theme);
                }

                @media (forced-colors: active) {
                    &::-webkit-scrollbar-thumb {
                        border: 2px solid currentcolor;
                    }
                }

                @media (hover) {
                    &::-webkit-scrollbar {
                        opacity: .5;
                    }

                    &::-webkit-scrollbar:hover {
                        opacity: 1;
                    }

                    &:hover::-webkit-scrollbar-thumb {
                        background: color-mix(in srgb, var(--_theme), #0000 10%);
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: var(--_theme);
                    }
                }

                @supports (-moz-appearance:none) {
                    scrollbar-width: thin;
                    scrollbar-color: var(--_theme) #0000;
                    transition: scrollbar-color .3s ease;

                    &:is(:focus-visible, :focus-within) {
                        scrollbar-color: LinkText #0000;
                    }

                    @media (hover) {
                        scrollbar-color:
                            light-dark(#eee, #333) #0000;

                        &:hover {
                            scrollbar-color: var(--_theme) #0000;
                        }
                    }
                }

                >.scroll-content {
                    padding: var(--_space);
                }

                /* todo: buttons needs not be present if on mobile */
                @supports selector(::scroll-button(*)) {
                    &::scroll-button(*) {
                        position: fixed;
                        appearance: none;
                        background: none;
                        -webkit-tap-highlight-color: transparent;
                        border: 1px solid var(--_theme);
                        border-radius: 50%;
                        aspect-ratio: 1;
                        inline-size: 36px;

                        transition:
                            opacity .5s,
                            scale .8s,
                            background-color .2s;
                    }

                    &::scroll-button(*):not(:disabled):is(:hover, :focus-visible) {
                        background: color-mix(in srgb, var(--_theme), #0000 90%);
                    }

                    &::scroll-button(*):not(:disabled):active {
                        scale: 80%;
                    }

                    &::scroll-button(*):disabled {
                        opacity: 25%;
                    }

                    &::scroll-button(up) {
                        content: '▲' / 'Scroll up';

                        position-area: inline-start span-block-start;
                        position-anchor: --scroll-root;
                        anchor-name: --scroll-buttondown;
                        margin-inline-end: var(--space);
                        margin-block-end: calc(3 * var(--space));
                    }

                    &::scroll-button(down) {
                        content: '▼' / 'Scroll down';

                        position-anchor: --scroll-buttondown;
                        position-area: block-end;
                        margin-block-start: calc(var(--space) / 2);
                    }
                }
            }
        }

        img {
            grid-area: img;
            width: 100%;
            height: auto;
        }

        iframe {
            width: 100%;
            height: auto;
        }


        .tag {
            color: black;
        }

        .hapje {
            position: relative;
            right: .5rem;
            bottom: -.5rem;
            background-color: var(--color-background);
            outline: var(--color-background) .5rem solid;
            border-radius: 0 .5rem 0 0;
            width: max-content;

            display: flex;
            justify-content: flex-end;

            :before {
                position: absolute;
                content: "";
                display: inline-block;
                top: -1.5rem;
                left: 0rem;
                width: 1rem;
                height: 1rem;
                border-bottom-right-radius: 2rem;
                box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
                background: transparent;
                rotate: 90deg;
            }

            :after {
                position: absolute;
                content: "";
                display: inline-block;
                top: 1rem;
                right: -1.5rem;

                width: 1rem;
                height: 1rem;
                border-bottom-right-radius: 2rem;
                box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
                background: transparent;
                rotate: 90deg;
            }
        }

    }
}

@media (max-width: 60rem) {
    .detail-object {
        height: calc(70dvh - .5rem);
    }
}