.detail-object {
    /* height: 90vh; */

    .object-container {
        padding: .5rem;
        background-color: var(--color-background-secondair);
        border-radius: 8px;
        height: 100%;

        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: min-content min-content auto min-content;
        grid-template-areas:
            "title title"
            "rels rels"
            "img text"
            "date date";

        .title {
            grid-area: title;
            justify-self: end;
            height: fit-content;
        }

        .time-content {
            grid-area: date;

            .rel {
                color: black;
                width: fit-content;
                height: fit-content;
                border-radius: 8px;
                padding: 8px;
                padding-inline: 12px;
                text-decoration: none;
            }
        }

        ul {
            grid-area: rels;
            max-height: 7rem;
            /* overflow-y: auto; */

            scrollbar-color: #F9F6EE black;
            scrollbar-width: thin;

            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.2rem;
            /* justify-content: left; */
        }

        .object-content {
            grid-area: text;
            color: var(--color-text);
            /* height: 100%; */
            /* max-height:; */
            overflow-y: scroll;

            scrollbar-color: #F9F6EE black;
            scrollbar-width: 8px;
        }

        img {
            grid-area: img;
            width: 100%;
            height: auto;
        }

        iframe {
            width: 100%;
            height: auto;
        }

        .tag {
            color: black;
        }

        .hapje {
            position: relative;
            right: .5rem;
            bottom: -.5rem;
            background-color: var(--color-background);
            outline: var(--color-background) .5rem solid;
            border-radius: 0 .5rem 0 0;
            width: max-content;

            display: flex;
            justify-content: flex-end;

            :before {
                position: absolute;
                content: "";
                display: inline-block;
                top: -1.5rem;
                left: 0rem;
                width: 1rem;
                height: 1rem;
                border-bottom-right-radius: 2rem;
                box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
                background: transparent;
                rotate: 90deg;
            }

            :after {
                position: absolute;
                content: "";
                display: inline-block;
                top: 1rem;
                right: -1.5rem;

                width: 1rem;
                height: 1rem;
                border-bottom-right-radius: 2rem;
                box-shadow: 0.313rem 0.313rem 0px 0.18rem var(--color-background);
                background: transparent;
                rotate: 90deg;
            }
        }
    }
}